/*ul li div.dropdown-menu.dropdown-menu-right {
    left: -10px;
}



@media only screen and (max-width: 1200px) {
    ul li div.dropdown-menu.dropdown-menu-right {
        padding:0;
        margin-top:-15px;
    }
}
*/