<!--**********************************
        Nav header start
    ***********************************-->

<div class="nav-header">
    <a href="index.html" class="brand-logo">
        <img class="logo-abbr" src="Jobie/images/logo.png" alt="">
        <img class="logo-compact" src="Jobie/images/logo-text.png" alt="">
        <img class="brand-title" src="Jobie/images/logo-text.png" alt="">
    </a>

    <AuthorizeView Policy="FilledSurveyForm">
        <Authorized>
            <div class="nav-control" onclick="NavControl()">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-control" onclick="NavControl()" style="display:none;">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

