@page "/About"
@inject IJSRuntime JSRuntime

<div class="page-content">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul>
                        <li class="home"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li><span>//</span></li>
                        <li class="category-2">About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Menu About-->
    <div class="navbar-custom navbar menu-about">
        <div class="container">
            <div class="row">
                <div class="nav-container">
                    <nav class="collapse navbar-collapse navbar-main-collapse mainnav" role="navigation">
                        <ul class="nav-menu nav navbar-nav">
                            <li class="selected active"><a href="#classes">Why choose us</a></li>
                            <li><a href="#history">Our history</a></li>
                            <li><a href="#our-team">Our trainer</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Menu About-->
    <!-- Athlete Class -->
    <section id="classes" class="classes">
        <div class="container">
            <div class="classes-athlete">
                <div class="classes-inner choose">
                    <div class="classes-content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="block-left">
                                        <div class="about-img">
                                            <img src="Athlete/images/bg-about-us.png" alt="" />
                                        </div>
                                        <div class="about-title">
                                            <h3>Why choose athlete club</h3>
                                        </div>
                                        <div class="about-desc">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas eu leo nec
                                                eleifend. Nulla sapien turpis, convallis ac ultrices sed, aliquam sit amet arcu. Phasellus est
                                                orci, bibendum consequat quam sit amet, facilisis pharetra nisl. Nullam ultrices mi quam, et
                                                volutpat magna suscipit eget.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="block-right">
                                        <div class="block-right-info">
                                            <div class="about-info">
                                                <div class="icon-block">
                                                    <i class="fa fa-tablet"></i>
                                                </div>
                                                <div class="about-details">
                                                    <h4 class="about-details-title">Full responsive and retina ready</h4>
                                                    <p>
                                                        Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                                                        Cras sed enim quis nunc condimentum ullamcorper.
                                                        Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="about-info">
                                                <div class="icon-block">
                                                    <i class="fa fa-paint-brush"></i>
                                                </div>
                                                <div class="about-details">
                                                    <h4 class="about-details-title">Unique and creative design</h4>
                                                    <p>
                                                        Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                                                        Cras sed enim quis nunc condimentum ullamcorper.
                                                        Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="about-info">
                                                <div class="icon-block">
                                                    <i class="fa fa-paper-plane"></i>
                                                </div>
                                                <div class="about-details">
                                                    <h4 class="about-details-title">Fully features for gym and fitness website</h4>
                                                    <p>
                                                        Consectetur adipiscing elit. Pellentesque ut mollis lectus. Ut ultricies lacinia feugiat.
                                                        Cras sed enim quis nunc condimentum ullamcorper.
                                                        Aliquam eget lorem at purus. Etiam tempus porta mauris at fermentum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Athlete Class -->
    <!--Modern Equipment-->
    <section class="training modern">
        <div class="wpb-wrapper">
            <!-- PARALLAX WINDOWS -->
            <div class="parallax-block-wrap-module auto-width">
                <div class="parallax-block bt-advance-parallax" id="parallax-block-modern">
                    <!-- PARALLAX CONTENT -->
                    <div class="control-button">
                        <div class="nav-wrap hidden">
                            <div class="nav-wrap-in next">
                                <span class="nav-next"></span>
                            </div>
                            <div class="nav-wrap-in prev">
                                <span class="nav-prev"></span>
                            </div>
                        </div>
                        <div class="button-wrap">
                            <span class="button close-btn"></span>
                        </div>
                    </div>
                    <div class="parallax-background">
                        <!--Textured and color-->
                        <img alt="" src="Athlete/images/bg-position-3.1.jpg">
                    </div>

                    <div class="parallax-block-content default-pos">
                        <div class="container">
                            <div class="parallax-text parallax-gallery">
                                <h1 class="training-title">Modern equipment</h1>
                                <p class="join-us">Join us to discover and try our modern equipment</p>
                                <span class="button open-btn"><span>Gallery Images</span></span>
                            </div>
                        </div>
                    </div>

                    <div class="overlay-loading">
                        <span class="loading"><img src="Athlete/images/loading-black.gif" alt="" /></span>
                    </div>

                    <!-- GALLERY CONTENT -->
                    <div class="parallax-content-wrap">
                        <div class="parallax-content hidden">
                            <div class="parallax-content-in">
                                <div class="defxault">
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-1.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img class="image-show" src="Athlete/images/parallax-large/parallax-1.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-2.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" alt="" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img alt="" src="Athlete/images/parallax-3.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img src="Athlete/images/parallax-4.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-5.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img alt="" src="Athlete/images/parallax-7.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-8.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-9.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img alt="" src="Athlete/images/parallax-10.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-1.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-1.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-2.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img alt="" src="Athlete/images/parallax-3.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img alt="" src="Athlete/images/parallax-4.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img alt="" src="Athlete/images/parallax-5.jpg" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-7.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-8.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-9.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img src="Athlete/images/parallax-10.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-1.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-1.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-2.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-3.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img src="Athlete/images/parallax-4.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-5.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-7.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-8.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-9.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img src="Athlete/images/parallax-10.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-1.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-1.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-2.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-3.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img src="Athlete/images/parallax-4.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-5.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-7.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-8.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-9.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img src="Athlete/images/parallax-10.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-1.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-1.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-2.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-3.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img src="Athlete/images/parallax-4.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-5.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-7.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-8.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-9.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img src="Athlete/images/parallax-10.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="parallax-col">
                                        <div class="parallax-row in-pos box1">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-1.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-1.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-2.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-2.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-3.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-3.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3 mr-top">
                                                        <img src="Athlete/images/parallax-4.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-4.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w3">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-5.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-5.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-6.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-6.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="parallax-row in-pos box2">
                                            <div class="parallax-row-w1">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w2">
                                                        <img src="Athlete/images/parallax-7.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-7.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-8.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-8.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                                <div class="parallax-box-image">
                                                    <div class="thumb">
                                                        <img src="Athlete/images/parallax-9.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-9.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="parallax-row-w2">
                                                <div class="parallax-box-image">
                                                    <div class="thumb w3">
                                                        <img src="Athlete/images/parallax-10.jpg" alt="" />
                                                    </div>
                                                    <div class="show_box hidden">
                                                        <img alt="" src="Athlete/images/parallax-large/parallax-10.jpg" class="image-show" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-show-large hidden">
                                <div class="item-contain"></div>
                                <div class="loading"><img src="Athlete/images/loading-black.gif" alt="" /></div>
                            </div>
                        </div>
                    </div>
                    <!-- end GALLERY CONTENT -->
                </div>
            </div>
        </div>
    </section>
    <!--End Modern Equipment-->
    <!-- Our History -->
    <section id="history" class="our-team-page">
        <div class="our-team">
            <div class="our-team-content">
                <div class="our-team-inner">
                    <div class="custom">
                        <div class="our-team-tabs our-team-bottom our-team-fit tab-history" data-active="1">
                            <div class="our-team-panes">
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/ptJWKnQmPWI"> </iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/7c9IAWhR5f0"></iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/7c9IAWhR5f0"></iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/7c9IAWhR5f0"></iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/MfSiQn530ts"></iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-history">
                                        <div class="container">
                                            <div class="row">
                                                <div class="video-history col-md-6 col-sm-12 col-xs-12">
                                                    <div class="media-responsive"><iframe width="550" height="400" src="https://www.youtube.com/embed/MfSiQn530ts"></iframe></div>
                                                </div>
                                                <div class="history-details col-md-6 col-sm-12 col-xs-12">
                                                    <h3>Our history</h3>
                                                    <div class="history_desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor ligula sit amet ante facilisis,
                                                        id rutrum est varius. Quisque facilisis lorem vitae lacus volutpat porttitor condimentum vitae est.
                                                        Mauris gravida quam dui, ac aliquet quam rhoncus et. Donec in mi eget libero aliquet bibendum.
                                                    </div>
                                                    <div class="history-skill">
                                                        <ul>
                                                            <li>Emergy Case</li>
                                                            <li>Doctors Timetables</li>
                                                            <li>Vaccinations Travel Health</li>
                                                            <li>Women's Health</li>
                                                            <li>Free Online Consultation</li>
                                                            <li>General Illness or Injury</li>
                                                            <li>Prescription Refills</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="our-team-nav">
                                <span class="">2001</span>
                                <span class="">2005</span>
                                <span class="our-team-current">2010</span>
                                <span class="">2012</span>
                                <span class="">2013</span>
                                <span class="">2014</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our History -->
    <!-- Our Team -->
    <section id="our-team" class="our-team-page">
        <div class="our-team">
            <div class="our-team-content">
                <div class="our-team-inner">
                    <div class="custom">
                        <div class="our-team-tabs our-team-bottom our-team-fit content-our-team" data-active="1">
                            <div class="our-team-panes">
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-team-img col-md-4 col-sm-4 col-xs-12">
                                        <img src="Athlete/images/img_tabBlock4.jpg" alt="" data-mce-src="Athlete/images/img_tabBlock4.jpg" />
                                    </div>
                                    <div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
                                        <div class="detail-our-team-inner">
                                            <div class="detail-our-team-desc">Hello, I'm Mike Stramond, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div>
                                            <div class="detail-our-team-user">Mike Stramond</div>
                                            <div class="detail-our-team-pos">Co-Founder</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-team-img col-md-4 col-sm-4 col-xs-12">
                                        <img src="Athlete/images/img_tabBlock4_2.jpg" alt="" data-mce-src="Athlete/images/img_tabBlock4_2.jpg" />
                                    </div>
                                    <div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
                                        <div class="detail-our-team-inner">
                                            <div class="detail-our-team-desc">Hello, I'm Claire Freemon, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div>
                                            <div class="detail-our-team-user">Claire Freemon</div>
                                            <div class="detail-our-team-pos">Yoga trainer</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="our-team-pane our-team-clear">
                                    <div class="our-team-img col-md-4 col-sm-4 col-xs-12">
                                        <img src="Athlete/images/img_tabBlock4_3.jpg" alt="" data-mce-src="Athlete/images/img_tabBlock4_3.jpg" />
                                    </div>
                                    <div class="detail-our-team col-md-8 col-sm-8 col-xs-12">
                                        <div class="detail-our-team-inner">
                                            <div class="detail-our-team-desc">Hello, I'm Vincent Bryant, a personal trainer based in San Diego, dedicated to getting people in great shape &amp; improving their lifestyle.</div>
                                            <div class="detail-our-team-user">Vincent Bryant</div>
                                            <div class="detail-our-team-pos">Boxing trainer</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="our-team-nav">
                                <span class="" style="width: 33.333333333333%;">
                                    <span class='our-team-name'>Mike Stramond</span>
                                    <span class='our-team-position'>Co-Founder</span>
                                </span>
                                <span class="yoga-trainer" style="width: 33.333333333333%;">
                                    <span class='our-team-name'>Claire Freemon</span>
                                    <span class='our-team-position'>Yoga trainer</span>
                                </span>
                                <span class="boxing-trainer" style="width: 33.333333333333%;">
                                    <span class='our-team-name'>Vincent Bryant</span>
                                    <span class='our-team-position'>Boxing trainer</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team -->
</div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("Run");
        //await JSRuntime.InvokeVoidAsync("Athlete/js/parallax/jquery.transform2d.js");
        await JSRuntime.InvokeVoidAsync("import", "/Athlete/js/bundle.min.js");
        //await JSRuntime.InvokeVoidAsync("Athlete/js/jquery.scrollTo.js");
    }
}